:root {
    --font-family: "Satoshi", sans-serif;
    --second-family: "FONTSPRING DEMO - Integral CF Heavy", sans-serif;
    --third-family: "Integral CF", sans-serif;
    --font3: "Inter", sans-serif;

    /* colors */
    --main-color: #000;;

    /* container */
    --container-width: 1240px;
    --container-padding: 15px;

    /* transition */
    --transition-time: 0.2s;
}