.brands {
  max-width: 1440px;
  background: #000;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: clamp(40px, 2.407rem + 0.38vw, 44px);
  padding-left: clamp(16px, -0.95rem + 8vw, 100px);
  padding-right: clamp(16px, -0.95rem + 8vw, 100px);
  padding-bottom: clamp(40px, 2.407rem + 0.38vw, 44px);
  flex-wrap: wrap;
  gap: 10px;
}

.brands__logo {
  width: 167px;
  height: 34px;
  display: block;
}

.brands__item:nth-child(2) .brands__logo {
  width: 91px;
  height: 38px;
}

.brands__item:nth-child(3) .brands__logo {
  width: 156px;
  height: 36px;
}

.brands__item:nth-child(4) .brands__logo {
  width: 194px;
  height: 32px;
}

.brands__item:nth-child(5) .brands__logo {
  width: 207px;
  height: 34px;
}

@media (max-width: 850px) {
  .brands__logo {
    width: 117px;
    height: 24px;
  }

  .brands__item:nth-child(2) .brands__logo {
    width: 64px;
    height: 27px;
  }

  .brands__item:nth-child(3) .brands__logo {
    width: 110px;
    height: 26px;
  }

  .brands__item:nth-child(4) .brands__logo {
    width: 127px;
    height: 21px;
    padding-left: 32px;
  }

  .brands__item:nth-child(5) .brands__logo {
    width: 135px;
    height: 22px;
    padding-right: 32px;
  }
}
