/* ———— INTEGRAL CF ———— */

/* Regular */
@font-face {
    font-family: 'Integral CF';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url('../../fonts/FONTSPRINGDEMO-IntegralCFRegular.woff2') format('woff2');
}

/* Bold */
@font-face {
    font-family: 'Integral CF';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url('../../fonts/FONTSPRINGDEMO-IntegralCFBoldRegular.woff2') format('woff2');
}

/* Heavy */
@font-face {
    font-family: 'Integral CF';
    font-weight: 900;
    font-style: normal;
    font-display: swap;
    src: url('../../fonts/FONTSPRINGDEMO-IntegralCFHeavyRegular.woff2') format('woff2');
}

/* ———— SATOSHI ———— */

/* Regular */
@font-face {
    font-family: 'Satoshi';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url('../../fonts/Satoshi-Regular.woff2') format('woff2');
}

/* Medium */
@font-face {
    font-family: 'Satoshi';
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: url('../../fonts/Satoshi-Medium.woff2') format('woff2');
}

/* Bold */
@font-face {
    font-family: 'Satoshi';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url('../../fonts/Satoshi-Bold.woff2') format('woff2');
}


