
body {
    margin: 0;
    font-family: 'Satoshi', sans-serif;
    background-color: #fff;
    color: var(--text-color);
}

/* Контейнер */
.container {
    max-width: 1240px;
    margin-inline: auto;
    padding-inline: 20px;
}

/* Логотип */
.logo {
    font-family: 'Integral CF', sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 1.2;
    text-decoration: none;
    color: inherit;
}