.some-text {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    font-style: italic;
}
.some-text1 {
    font-weight: 600;
    text-decoration: line-through;
}
.some-text2 {
    text-transform: uppercase;
    text-align: center;
}
.some-text3 {
    word-spacing: 30px;
    color: rgb(116, 16, 209);
}
.some-text4 {
    letter-spacing: 5px;
    text-decoration: underline;
    text-decoration-thickness: 5px;
}