:root {
  /* font-family */
  --font-family: "Montserrat", sans-serif;

  /* colors */
  --main-color: #fff;
  --accent-color: #ffea00;
  --bg-color: #2a2a29;
  --secondary-color: #c9c69b;
  --disable-color: #5d5d56;
  --shadow-color: rgba(24, 24, 23, 1);

  /* container */
  --container-width: 1240px;
  --container-padding: 15px;

  /* transition */
  --transition-time: 0.2s;
}

