/* Общие */
@import "./general/normalize.css";
@import "./general/fonts.css";
@import "./general/vars.css";
@import "./general/globals.css";


/* Отдельные стили */

@import "./blocks/header.css";
@import "./blocks/main-hero.css";
@import "./blocks/brands.css";
@import "./blocks/product-card.css";
@import "./blocks/styles.css";
@import "./blocks/comments.css";
