.hero {
    position: relative;
    padding-top: 80px;
}

.hero::after {
    content: "";
    background: url(../images/decor-icon.svg) repeat-x;
    width: 100%;
    height: 48px;
    position: absolute;
    z-index: -1;
    bottom: 106px;
}

.hero__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 28px;
}

.hero__title {
    margin-bottom: 40px;
    font-family: Oswald, sans-serif;
    font-weight: 600;
    font-size: 62px;
    line-height: 115%;
    text-transform: uppercase;
    color: #2c332f;
}

.hero__title strong {
    font-weight: 600;
    color: #3596ed;
}

.hero__info {
    max-width: 492px;
}

.hero__text {
    max-width: 440px;
    margin-bottom: 140px;
}

.hero__images {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.hero__choose {
    position: absolute;
    top: 40px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    max-width: 161px;
    padding: 22px;
    background: rgb(255 255 255 / 0.9);
    border: 1px solid #535755;
    text-align: center;
}

@media (width <=1440px) {
    .hero__images .hero__img {
        width: 50%;
    }
}

@media (width <=992px) {
    .hero::after {
        display: none;
    }

    .hero__container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .hero__info {
        text-align: center;
    }

    .hero__title {
        margin-bottom: 30px;
        font-size: 52px;
    }

    .hero__text {
        max-width: inherit;
        margin-bottom: 30px;
    }
}

@media (width <=768px) {
    .hero__title {
        font-size: 50px;
    }
}

@media (width <=576px) {
    .hero {
        padding-top: 60px;
    }

    .hero__info {
        max-width: 410px;
    }

    .hero__title {
        font-size: 42px;
    }

    .hero__choose {
        max-width: 125px;
        padding: 10px;
        font-size: 14px;
    }
}