.news__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 28px;
}

.news__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 284px;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 25%;
    flex: 1 1 25%;
    background-color: #fff;
    border: 1px solid #d3cbd9;
    overflow: hidden;
}

.news__item img {
    display: block;
}

.news__info {
    padding: 20px 20px 0;
    margin-bottom: 12px;
}

.news__date {
    display: inline-block;
    margin-bottom: 8px;
}

.news__item footer {
    padding: 0 20px 20px;
    margin-top: auto;
}

.news__link {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #3596ed;
}

.news__link::after {
    content: "";
    display: inline-block;
    width: 22px;
    height: 9px;
    background-image: url("../images/arrow-right-icon.svg");
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    -o-transition: transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;
}

.news__link:hover::after {
    -webkit-transform: translateX(5px);
    -ms-transform: translateX(5px);
    transform: translateX(5px);
}

@media (width <=992px) {
    .news__container {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        gap: 20px;
    }

    .news__item {
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
        max-width: 350px;
    }

    .news__item img {
        width: 100%;
    }
}

@media (width <=768px) {
    .news__item {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        max-width: 400px;
    }
}