.menu__list {
    display: flex;
    align-items: center;
    gap: 30px;
}

.menu__link {
    color: var(--main-color);
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 300;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: left;
    transition: color var(--transition-time);
}

@media (any-hover: hover) {
    .menu__link:hover {
        color: var(--accent-color, rgba(255, 234, 0, 1));
    }
}

