@media (width > 768px) {
    .mobile-menu {
        display: none;
    }
}

@media (width <=768px) {
    .mobile-menu {
        position: fixed;
        top: 0;
        right: 0;
        width: 80%;
        max-width: 320px;
        height: 100vh;
        background-color: var(--bg-color);
        transform: translateX(100%);
        transition: transform 0.4s ease-in-out;
        z-index: 1000;
        overflow-y: auto;
        padding: 0;
    }

    .mobile-menu.active {
        transform: translateX(0);
    }

    .mobile-menu__header {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-top: 40px;
        padding-right: 15px;
    }


    .mobile-menu__close {
        width: 24px;
        height: 24px;
        color: var(--secondary-color);
        cursor: pointer;
        background: none;
        border: none;
        padding: 0;
    }


    .mobile-menu__close svg {
        width: 100%;
        height: 100%;
        stroke: currentColor;
        fill: none;
    }

    .mobile-menu__nav {
        display: flex;
        justify-content: flex-end;
        padding-top: 80px;
        padding-right: 15px;
    }

    .mobile-menu__list {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 20px;
        margin: 0;
        padding: 0;
    }

    .mobile-menu__link {
        color: var(--main-color);
        font-family: var(--font-family);
        font-size: 13px;
        font-weight: 300;
        line-height: 130%;
        text-decoration: none;
        padding: 8px 0;
        transition: color var(--transition-time);
    }
}

@media (any-hover: hover) {
    .mobile-menu__link:hover {
        color: var(--accent-color);
    }
}