.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #D3CBD9;
    gap: 10px;
}

.phone {
    color: #858E8A;
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    letter-spacing: 4%;
    text-align: right;
    text-transform: uppercase;
}

.phone-link {
    color: #2C332F;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: right;
    transition: 0.2s;
}

.phone p {
    margin-bottom: 8px;
}

.phone a:hover {
    color: #3596ed;
}