html {
  font-family: Ubuntu, sans-serif;
  font-weight: 400;
}

body {
    max-width: 1920px;
    margin: 0 auto;
    box-sizing: border-box;
}


h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* header */

.header-container {
    max-width: 1220px;
    width: 100%;
    margin: 0 auto;
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    border-bottom: 1px solid var(--Stroke, rgba(211, 203, 217, 1));
}

.logo.png {
    width: 84px;
    height: 45px;
}

.contact-info {
    width: 240px;
    height: 45px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    text-align: right;
}

.free-visit {
    color: #D3CBD9;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 4%;
    text-transform: uppercase;
    margin-bottom: 8px;
}

.phone {
    color: #858E8A;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0%;
}

/* main */

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 15px;
}

.article {
  padding-top: 80px;
  padding-bottom: 120px;
}

.article-title {
  max-width: 596px;
  margin-bottom: 40px;
  font-family: Oswald;
  font-weight: 600;
  line-height: 115%;
  text-transform: uppercase;
  color: #2c332f;
}

.article-title-large {
  font-size: 48px;
}

.article-title-medium {
  font-size: 36px;
}

.article-text {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #535755;
}

.article-mb-1 {
  margin-bottom: 80px;
}

.article-mb-2 {
  margin-bottom: 40px;
}

.article-decor-wrapper {
  position: relative;
}

.article-decor-wrapper::before {
  content: "";
  position: absolute;
  z-index: -1;
  background: url(..//images/decor-icon.svg) no-repeat;
  width: 528px;
  height: 48px;
}

.article-decor-wrapper-1::before {
  top: 100px;
  left: -350px;
}

.article-decor-wrapper-2::before {
  right: -350px;
  bottom: 136px;
}

.article-img,
.article-video {
  width: 100%;
}

.article-list {
  margin-top: 0;
  padding-left: 20px;
}

.article-item {
  margin-bottom: 12px;
}

.article-item::marker {
  color: #3596ed;
  font-size: 22px;

}

.article-play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  padding: 0;
  background-color: #3596ed;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}